		<h2 id="aimemedium">AIME Medium (<a href="#top">Select another problemset</a>)</h2>
		<ul>
			<li><a href="$URL1" id="problem1" target="_blank" rel="noopener noreferrer">$PRO1</a></li>
			<li><a href="$URL2" id="problem2" target="_blank" rel="noopener noreferrer">$PRO2</a></li>
			<li><a href="$URL3" id="problem3" target="_blank" rel="noopener noreferrer">$PRO3</a></li>
			<li><a href="$URL4" id="problem4" target="_blank" rel="noopener noreferrer">$PRO4</a></li>
			<li><a href="$URL5" id="problem5" target="_blank" rel="noopener noreferrer">$PRO5</a></li>
		</ul>
