@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	background-color: purple;
}
p {
	font-size: 18px;
	color: white;
	font-family: 'Roboto', sans-serif;
	white-space: normal;
}
h1 {
	color: white;
	font-family: 'Roboto', sans-serif;
	white-space: normal;
}
h2 {
	color: white;
	font-family: 'Roboto', sans-serif;
	white-space: normal;
}
li {
	font-size: 18px;
	color: white;
	font-family: 'Roboto', sans-serif;
	white-space: normal;
}
a:link {
	color: #E69A8DFF;
 	background-color: transparent;
  	text-decoration: none;
}
a:visited {
  	color: #51c0f0;
  	background-color: transparent;
  	text-decoration: none;
}
a:hover {
  	color: #f0cb51;
  	background-color: transparent;
  	text-decoration: underline;
}
a:active {
  	color: yellow;
  	background-color: transparent;
  	text-decoration: underline;
}
