body {
	-webkit-text-size-adjust: 100%;
	background-color: #222222;
	color: #f5f5f5;
	font-family: Helvetica, Arial, verdana, sans-serif;
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.6;
}
h1, h2, h3 {
	line-height: 1.2;
}
h1 {
	color: #ff9bdd;
}
h2 {
	color: lightskyblue;
}
h3 {
	color: plum;
}
hr {
	color: #eee;
}
article, header, footer {
	max-width: 40em;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 3em;
}
header, footer {
	text-align: center;
	margin-bottom: 0.1em;
}
header {
	border-bottom: 1.5px solid #eee;
	margin-top: 1.5em;
}
footer {
	padding: 1em 0.5em;
	border-top: 1.5px solid #eee;
	margin-bottom: 5em;
}
a:link {
	color: #ff9bdd;
  	text-decoration: none;
}
a:visited {
  	color: #ff9bdd;
  	text-decoration: none;
}
a:hover {
  	color: #ffbb3e;
  	text-decoration: underline;
}
a:active {
  	color: gold;
  	text-decoration: underline;
}
button {
	border: none;
	color: black;
	padding: 10px 18px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: Helvetica, arial, verdana, sans-serif;
	margin: 4px 2px;
	cursor: pointer;
	background-color: #ffce75;
}

main {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	max-width: 60em;
	margin-left: auto;
	margin-right: auto;
}
#finalscore, #wronganswers {
	color: #f5f5f5;
}
#cname, #cnameh2 {
	color: lightgreen;
}
#counter {
	color: #f5f5f5;
}
@media screen and (max-width: 400px) {
	body {
		font-size: 16px;
	}
}
