<!DOCTYPE html>
<html><head>
	<meta charset="utf-8"/>
	<meta content="true" name="HandheldFriendly"/>
	<meta content="320" name="MobileOptimized"/>
	<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	<link href="logo.png" rel="icon" type="image/png"/>
	<title>️📝️AMCGEN: AMC 12 Very Hard</title>
	<link href="../../../../style.css" rel="stylesheet"/>
</head>
<body>
	<div class="wrapper">
		<center>
			<h1>📝️AMCGEN: AMC 12 Very Hard</h1>
			<h2>AMC 12 problems 23 - 25</h2>
		</center>

		<h2>The problems:</h2>

		<ul>
			<li><a href="$URL1" id="problem1" target="_blank" rel="noopener noreferrer">$PRO1</a></li>
			<li><a href="$URL2" id="problem2" target="_blank" rel="noopener noreferrer">$PRO2</a></li>
			<li><a href="$URL3" id="problem3" target="_blank" rel="noopener noreferrer">$PRO3</a></li>
			<li><a href="$URL4" id="problem4" target="_blank" rel="noopener noreferrer">$PRO4</a></li>
			<li><a href="$URL5" id="problem5" target="_blank" rel="noopener noreferrer">$PRO5</a></li>
		</ul>

		<h2>Some tips:</h2>
		<ul>
			<li>Zoom in if the diagrams/math equations are unclear.</li>
			<li>Use scratch paper to organize your work.</li>
			<li>Don't give up!</li>
			<li>
				Click the <em>Solution</em> link on the bottom of each
				problem to check your answer.
			</li>
			<li>
				Double check your work before clicking the Solution
				link.
			</li>
			<li>
				Make sure the problems are slightly above your level.
				Doing very hard or very easy problems likely won't
				benefit you.
			</li>
			<li>
				Right click on the click to the problem link and click
				on open in new tab. This way you can open all problems
				without having to switch back and forth between this
				tab and the problems.
			</li>
		</ul>

		<center>
			<a href="/">bkf2020's website</a> |
			<a href="../../../../">amcgen home</a> |
			<a href="../../../../archive">amcgen archive</a>
		</center>
		
	</div>




</body></html>
