<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta content="true" name="HandheldFriendly"/>
	<meta content="320" name="MobileOptimized"/>
	<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	<link href="logo.png" rel="icon" type="image/png"/>
	<title>📝️AMCGEN: AMC Problemsets</title>
	<link href="/amcgen/style.css" rel="stylesheet"/>
</head>
<body>
	<div class="wrapper">
		<center>
			<h1>📝️AMCGEN: AMC Problemsets</h1>
			<p>
				A simple tool that provides you AoPS Wiki links
				to problems for the AMC tests.
			</p>
			<p>
				<a href="/">bkf2020's homepage</a> |
				<a href="/amcgen">amcgen</a>
			</p>
		</center>

		<h2 id="top">Current problemsets:</h2>
		<details>
			<summary class="problemsetSummary">
				<b><u>AIME Problemsets</u></b>
			</summary>
			<ul class="problemsetList">
				<li><a href="#aimeeasy">Easy: Problems 1 - 5</a></li>
				<li><a href="#aimemedium">Medium: Problems 6 - 10</a></li>
				<li><a href="#aimehard">Hard: Problems 11 - 13</a></li>
				<li><a href="#aimeveryhard">Very Hard: Problems 14 - 15</a></li>
			</ul>
		</details>

		<details>
			<summary class="problemsetSummary">
				<b><u>AMC 8 Problemsets</u></b>
			</summary>
			<ul class="problemsetList">
				<li><a href="#amc8easy">Easy: Problems 1 - 15</a></li>
				<li><a href="#amc8medium">Medium: Problems 16 - 18</a></li>
				<li><a href="#amc8hard">Hard: Problems 19 - 22</a></li>
				<li><a href="#amc8veryhard">Very Hard: Problems 23 - 25</a></li>
			</ul>
		</details>

		<details>
			<summary class="problemsetSummary">
				<b><u>AMC 10 Problemsets</u></b>
			</summary>
			<ul class="problemsetList">
				<li><a href="#amc10easy">Easy: Problems 1 - 15</a></li>
				<li><a href="#amc10medium">Medium: Problems 16 - 18</a></li>
				<li><a href="#amc10hard">Hard: Problems 19 - 22</a></li>
				<li><a href="#amc10veryhard">Very Hard: Problems 23 - 25</a></li>
			</ul>
		</details>

		<details>
			<summary class="problemsetSummary">
				<b><u>AMC 12 Problemsets</u></b>
			</summary>
			<ul class="problemsetList">
				<li><a href="#amc12easy">Easy: Problems 1 - 15</a></li>
				<li><a href="#amc12medium">Medium: Problems 16 - 18</a></li>
				<li><a href="#amc12hard">Hard: Problems 19 - 22</a></li>
				<li><a href="#amc12veryhard">Very Hard: Problems 23 - 25</a></li>
			</ul>
		</details>

		<a href="archive"><h2>Archived Problemsets</h2></a>

		<hr/>

		<h2>How do I use this?</h2>
		<p>
			Select one of the links above for your problemset. You
			can either select AIME, AMC 8, AMC 10, or AMC 12 problems.
			The difficulty you choose can be Easy, Medium, Hard, or Very
			Hard.
		</p>

		<h2>How do I report an issue with the code?</h2>
		<p>
			Go onto the <a href="https://github.com/bkf2020/amcgen">
			Github repo</a> and open a new issue. Be sure to
			place a link to where you found the problem if it is on
			the website or the location of the code. I plan to open an
			email address soon...
		</p>

		<hr/>
