<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta content="true" name="HandheldFriendly"/>
	<meta content="320" name="MobileOptimized"/>
	<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	<link href="logo.png" rel="icon" type="image/png"/>
	<title>📝️AMCGEN: AMC Problemsets</title>
	<link href="style.css" rel="stylesheet"/>
</head>
<body>
	<div class="wrapper">
		<center>
			<h1>📝️AMCGEN: AMC Problemsets</h1>
			<p>
				A simple tool that provides you AoPS Wiki links
				to problems for the AMC tests.
			</p>
		</center>

		<h2>Current problemsets:</h2>
		<details>
			<summary class="problemsetSummary">
				<b><u>AIME Problemsets</u></b>
			</summary>
			<ul class="problemsetList">
				<li><a href="$AIMEDIR/easy">Easy: Problems 1 - 5</a></li>
				<li><a href="$AIMEDIR/medium">Medium: Problems 6 - 10</a></li>
				<li><a href="$AIMEDIR/hard">Hard: Problems 11 - 13</a></li>
				<li><a href="$AIMEDIR/veryhard">Very Hard: Problems 14 - 15</a></li>
			</ul>
		</details>

		<details>
			<summary class="problemsetSummary">
				<b><u>AMC 8 Problemsets</u></b>
			</summary>
			<ul class="problemsetList">
				<li><a href="$AMC8DIR/easy">Easy: Problems 1 - 15</a></li>
				<li><a href="$AMC8DIR/medium">Medium: Problems 16 - 18</a></li>
				<li><a href="$AMC8DIR/hard">Hard: Problems 19 - 22</a></li>
				<li><a href="$AMC8DIR/veryhard">Very Hard: Problems 23 - 25</a></li>
			</ul>
		</details>

		<details>
			<summary class="problemsetSummary">
				<b><u>AMC 10 Problemsets</u></b>
			</summary>
			<ul class="problemsetList">
				<li><a href="$AMC10DIR/easy">Easy: Problems 1 - 15</a></li>
				<li><a href="$AMC10DIR/medium">Medium: Problems 16 - 18</a></li>
				<li><a href="$AMC10DIR/hard">Hard: Problems 19 - 22</a></li>
				<li><a href="$AMC10DIR/veryhard">Very Hard: Problems 23 - 25</a></li>
			</ul>
		</details>

		<details>
			<summary class="problemsetSummary">
				<b><u>AMC 12 Problemsets</u></b>
			</summary>
			<ul class="problemsetList">
				<li><a href="$AMC12DIR/easy">Easy: Problems 1 - 15</a></li>
				<li><a href="$AMC12DIR/medium">Medium: Problems 16 - 18</a></li>
				<li><a href="$AMC12DIR/hard">Hard: Problems 19 - 22</a></li>
				<li><a href="$AMC12DIR/veryhard">Very Hard: Problems 23 - 25</a></li>
			</ul>
		</details>

		<h2>Archived Problemsets</h2>
		<ul style="margin-bottom: 3em;">
			<li><a href="problemsets/aime/archive">AIME Problemsets Archive</a></li>
			<li><a href="problemsets/amc8/archive">AMC 8 Problemsets Archive</a></li>
			<li><a href="problemsets/amc10/archive">AMC 10 Problemsets Archive</a></li>
			<li><a href="problemsets/amc12/archive">AMC 12 Problemsets Archive</a></li>
		</ul>

		<hr/>

		<h2>How do I use this?</h2>
		<p>
			Select one of the links above for your problemset. You
			can either select AIME, AMC 8, AMC 10, or AMC 12 problems.
			The difficulty you choose can be Easy, Medium, Hard, or Very
			Hard.
		</p>

		<h2>How do I report an issue with the code?</h2>
		<p>
			Go onto the <a href="https://github.com/bkf2020/amcgen">
			Github repo</a> and open a new issue. Be sure to
			place a link to where you found the problem if it is on
			the website or the location of the code. I plan to open an
			email address soon...
		</p>

		<h2>Have another question?</h2>
		<p>Please see <a href="qna">the question and answer page.</a></p>

		<center>
			<a href="/">bkf2020's website</a> |
			<a href="./">amcgen home</a> |
			<a href="./archive">amcgen archive</a>
		</center>
	</div>

</body>
</html>
