<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta content="true" name="HandheldFriendly"/>
	<meta content="320" name="MobileOptimized"/>
	<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	<link href="logo.png" rel="icon" type="image/png"/>
	<title>📝️$MONTH $YEAR AMCGEN Archive</title>
	<link href="../../style.css" rel="stylesheet"/>
</head>
<body>
	<div class="wrapper">
		<center>
			<h1>📝️$MONTH $YEAR AMCGEN Archive</h1>
		</center>

		<h2>Select a day:</h2>
		<ul>
